/* add products */
h1{
  color: black;  
}

.form-out-add{
  padding: 30px;
  /* background-color: #edeff1; */
  /* background-color: #c6dbed; */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.37);
}

.form-label{
  font-weight: bold;
}
.form-check-label{
  font-weight: bold;
}
.warning-additional{
  font-weight: normal;
  font-size: small;
}
.form-error{
  color: red;
}