/* add products */
h1{
  color: black;  
}

.form-out{
  padding: 30px;
  /* background-color: #edeff1; */
  background-color: #c6dbed;
}

.form-label{
  font-weight: bold;
}
.form-check-label{
  font-weight: bold;
}
.warning-additional{
  font-weight: normal;
  font-size: small;
}
.form-error{
  color: red;
}